1.	Explain the key features of Python that make it a popular choice for programming

-> Python is known for its readability and simplicity.

-> Python is widely use in almost every factor because it is simple and very easy in reading and understanding

-> A beginner and pro both can easily learn and understand all the codes at the same time 

-> Python is freely available and open source, meaning anyone can use, modify and distribute it

-> Python has massive libraries like 137000, it offers many common tasks so you don’t need to program from scratch.

-> Interpreter lets you run code line by line that execution helps to quickly identified and for debug errors that optimize your code effectively

-> Python can be used for web development, data science artificial intelligence, machine learning, automation and more

-> Python is available on most platforms including windows macOS and Linux which means you can write and run python code anywhere

-> Python has a massive community of developers which means there are plenty of tutorials and libraries available to help you to solve problem

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program

-> Predefined keywords are also known as reserved words

-> That predefined keywords are built in words that have special meanings and are part of the language’s syntax.

-> This keyword cannot use as a variable name, function names or identifiers because they provide basic pre-defined or you can say built in functions in python code structure

In [ ]:
 '''	Examples of python keywords and their usage '''

In [ ]:
''' ->	Control flow Keywords <- '''

In [19]:
# If, elif, else: used for condition statements

x = 10
if x > 5 :
    print("x is greater than 5")
else:
	print ("x is 5 or less”)

x is greater than 5

In [20]:
# while: used for loops

i = 1
n = 5
while i <= 10 :
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [9]:
# For : used for loops

for i in range(1,11) :
    print (i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# Break used to control loop execution
i = 1
n = 5
while i <= 10 :
    print(i)
    i+=1
    if i == 4 :
        break

1
2
3

In [15]:
#  continue used to control loop execution

for i in range(1,11):
    if i == 4 :
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [ ]:
'''-> Variable declaration and value assignment keywords '''


Python does not require explicit declaration. You just assign a value to a variable name:
X = 10		(integer)
Name = “Vishal”	(string)
Price = 99.99	(float)
Is active = True 	(Boolean)

In [ ]:
'''  -> Function definition and return keywords '''

In [32]:
# In python you define a function using the def keyword, and return a value using the return keyword

# Def Keyword

def greet ():
    print("HELLO")
greet()

HELLO

In [34]:
# Return Keyword

def add (a, b):
    return a + b
add(3, 5)

8

3.	Compare and contrast mutable and immutable objects in Python with examples

 -> Definition:
-- Mutable objects can be changed after creation
-- Immutable objects cannot be changed after creation

In [35]:
# Examples
# Mutable Objects : List, dict, set
# Immutable Objects : Int, float, str, tuple, bool

In [36]:
''' -> Mutable (List) <- '''

a = [1, 2, 3]
a[0] = 100
print(a)

[100, 2, 3]

In [38]:
''' -> Immutable (string)  <- '''

a = "Vishal"
# a[0] = "B" this will throw an error
a = "Bishal"
print(a)

Bishal

4. Discuss the different types of operators in Python and provide examples of how they are used

''' Arithmetic operator '''

In [ ]:
# Used for basic mathematical operations

''' 


Operator	Description	     Example	Result
  +	        Addition	     2 + 3	     5
  -	        Subtraction	     5 – 2 	     3
  *	        Multiplication   4 * 2	     8
  /	        Division	     10 / 2	     5.0
  //	    Floor division	 7 // 2	     3
  %	        Modulus	         7 % 3	     1
  **	    Exponentiation	 2 ** 3	     8


'''

''' Comparison operator  '''

In [ ]:
# Used to compare values

'''

Operator	Description	     Example	Result
==	        Equal to 	     3 == 3	     True
!=	        Not equal to     4 != 5	     True
>	        Greater Than     5 > 2	     True
<	        Less than	     3 < 4	     True
>=       	Greater or equal 5 >= 5	     True
<=	        Less or equal	 2 <= 3	     True


'''

''' Logical operator  '''

In [ ]:
# Used to combine conditional statement

'''

          and	                     or	                 not
  Description 	Result	  Description	Result	 Description	Result
True And True	 True	True And True	 True	True And True	False
True and false	 False	True and false	 True	True and false	False
False and True	 False	False and True	 True	False and True	False
False and False	 False	False and False	 False	False and False	True


'''

''' Assignment operators  '''

In [ ]:
# Used to assign values

'''

Operator	Description      	Example
  =	         Assign	            X = 5
  +=	Add and assign	        X += 3
  -=	Subtract and assign  	X -= 2
  *=	Multiply and assign	    X *= 2
  /=	Divide and assign	    X /= 2
  //=	Floor divide and assign	X //= 2
  %=	Modulus and assign   	X %= 2
  **=	Power and assign	    X **= 3


'''

''' Identify operators  '''

In [ ]:
# Check if Two variables reference the same object

'''

Operator	Example	           Result
  Is	   X is y	      True if same object
Is not	   X is not y	  Trues if not same object


'''

''' Membership operators  '''

In [ ]:
'''

Operator	Example 	        Result
  in	    ‘a’ in ‘apple’	     True
  not in	‘z’ not in ‘apple’	True


'''

5.	 Explain the concept of type casting in Python with examples

-> 	 Type casting is the process of converting one data type into another.
->   In python, its often called type conversion, and it’s done using built in functions.

''' Common Type casting Functions '''

In [ ]:
'''

Function	Converts to
  int() 	Integer
  float()	Floating point
  str()	    String
  bool()	Boolean
  list()	List
  tuple()	Tuple


'''

In [43]:
''' Examples '''

In [42]:


# String to Integer

x = "123"
y = int(x)
print(y + 10)

133

In [45]:
# Float to Integer

f = 3.8
i = int(f)
print(i)


#output : 3 (Decimal part is removed)

3

In [46]:
# Integer to string

x = 50
y = str(x)
print(y + " is a number")

50 is a number

In [47]:
# Boolean to integer

print(int(True))
print(int(False))

1
0

In [48]:
# List to Tuple

lst = [1, 2, 3]
tup = tuple(lst)
print(tup)

(1, 2, 3)

6. How do conditional statements work in Python? Illustrate with examples

->	Condition statements let your problem make decisions and execute certain code only if condition is true
->	Keywords Used:
If, elif, else, nested condition, using logical operator

In [49]:
# If statement

x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [51]:
# Elif statement

x = 3
if x > 5:
     print("x is greater than 5")
else:
   print("x is 5 or less")

x is 5 or less

In [53]:
# Else statement

x = 5
if x > 5:
     print("x is greater than 5")
elif x == 5:
      print("x is equal to 5")
else:
     print("x is less than 5")

x is equal to 5

In [54]:
# Nested if Condition

x = 10
if x > 5:
      if x < 15:
              print("x is between 5 and 15")

x is between 5 and 15

In [55]:
# Using logical operators

x = 7
if x > 5 and x < 10:
          print("x is between 5 and 10")

x is between 5 and 10

7.	 Describe the different types of loops in Python and their use cases with examples.

->	Python provides three main types of loops, each useful for different situations:
1.	for loop
2.	while loop
3.	Nested loops

In [56]:
# for loop

fruits = ["apple", "banana", "cherry"]
for fruit in fruits :
    print(fruit)

apple
banana
cherry

In [57]:
# while loop

count = 1
while count <= 5:
    print(count)
    count+=1

1
2
3
4
5

In [58]:
# Nested loops

for i in range(1, 4) :
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3